@model IEnumerable<MvcMovie.Models.MovieInfo>

@{
    ViewData["Title"] = "Movie Index";
}

<h1>Movie Index</h1>

<p>
    <a asp-action="Create">Create a new Title </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Movie.Price)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>

@foreach (var MovieInfo in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => MovieInfo.MovieName)
            </td>
            <th>
                @string.Join(", ", MovieInfo.GenreCategories)
            </th>
            @*<td>
                @Html.DisplayFor(modelItem => movie.Movie.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => movie.Movie.Price)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@MovieInfo.MovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@MovieInfo.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@MovieInfo.MovieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
