@model IEnumerable<MvcMovie.Models.MovieGenre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @{ 
        var groupedMovieGenres = Model
            .GroupBy(x => x.Movie);
    }

@foreach (var group in groupedMovieGenres)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => group.First().Movie.Title)
            </td>
            <th>
                @foreach (var movieGenre in group)
                {
                    @:@(movieGenre.Genre.Name + " ")
                }
            </th>
            <td>
                @Html.DisplayFor(modelItem => group.First().Movie.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => group.First().Movie.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@group.First().Movie.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@group.First().Movie.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@group.First().Movie.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
